<main>
  <% @videos.each do |video| %>
    <article>
      <h4> <%= link_to video.title, video.youtube_link %> </h4>
      <iframe width="560" height="315" src=<%= video.embed %> frameborder="0" allowfullscreen></iframe>
    </article>
  <% end %>
</main>
